POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password
POSTGRES_DB=postgres
POSTGRES_HOST=db # docker-compose
# POSTGRES_HOST=localhost # local run
POSTGRES_PORT=5432

SECRET_KEY=your_super_secret_key_here
ALGORITHM=HS256
ACCESS_EXPIRE_MIN=30
REFRESH_EXPIRE_DAYS=30

MINIO_ENDPOINT=minio:9000 # docker-compose
# MINIO_ENDPOINT=localhost:9000 # local run
MINIO_EXTERNAL_URL=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=avatars
MINIO_USE_SECURE=0

FORISMATIC_URL=http://api.forismatic.com/api/1.0/?method=getQuote&format=json&lang=ru
FORISMATIC_TIMEOUT=5
FORISMATIC_RETRIES=3
FORISMATIC_RETRY_DELAY=1

TEST_DATABASE_URL=postgresql+asyncpg://kbju:kbju_pass@localhost:5433/kbju_test
